* {
  box-sizing: border-box;
}
/* main layout */

#main {
  margin: 0;
  /* background-image: url("https://64.media.tumblr.com/e87430cce58b5e9d0f81eaa12568485c/9069473dfff63ecf-6f/s500x750/490cb97892a058ec0a07ea9d229dd3ebee5b9bfd.gif"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  overflow-x: hidden;
}

header {
  margin: 0;
  background-color: black;
  padding: 10px;
  width: 100%;
  height: auto;
}

header .discord {
  color: rgb(0, 0, 255);
  font-size: 1em;
  float: right;
}

.headline {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

.headline .phoenix {
  width: 1em;
  height: 1em;
  margin: 0;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

li {
  list-style: none;
}

nav a {
  padding: 0.5em;
  font-size: 1.3em;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}
/* Home */

main {
  display: flex;
  width: 100%;
}

.theme_ct {
  width: 20%;
  border: 1px solid black;
  background-color: rgb(63, 65, 65);
  backdrop-filter: blur(10px);
}

.menu {
  padding: 0.5em;
  font-size: 1.3em;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

.content_container {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  height: 100vh;
  float: right;
  background-color: rgba(0, 0, 0, 0.6);
}

.content_container article {
  align-self: flex-start;
  margin: 0;
  font-size: 1.5em;
  float: left;
}

.content_container h2 {
  width: auto;
  height: 25px;
}

.text_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1em;
  width: 400px;
  height: 290px;
  background-color: rgba(31, 29, 29, 0.2);
  border-radius: 10px;
  box-shadow: 1px 1px 1px;
}

.text_container h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1em;
}

.units {
  margin: 0;
}

span {
  font-size: 1.5em;
}

.text_container2 p {
  margin: 0;
}
/* Mod-Menus / scripte */

.img_container {
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cards {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 390px;
  height: 300px;
  border-radius: 10px;
}

.immage {
  width: 100%;
  height: 80%;
}

footer {
  height: 20%;
  font-size: 1em;
  padding: 1em;
  background-color: rgba(31, 29, 29, 0.2);
  box-shadow: 1px 1px 1px;
}

/* Preisliste */

.table_container {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5em;
  width: 80%;
  height: 100%;
}

table {
  width: 100%;
  height: 90%;
  border: 1px solid black;
  border-collapse: collapse;
}

table th {
  border: 1px solid black;
  color: rgb(0, 0, 0);
}

table td {
  width: 100px;
  height: 99px;
  text-align: center;
  border: 1px solid black;
}

.table_img {
  width: 100%;
  height: 100%;
}

table td input {
  width: 26px;
  height: 26px;
}

/* Bestellformular */

.outdor_container {
  display: flex;
  justify-content: center;
  padding: 1em;
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.data_container {
  padding: 1em, 0;
  width: 80%;
  min-width: 624px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background-color: rgb(72, 75, 75);
  border-radius: 5px;
}

.data_container form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 2% 5%;
}

.data_container label {
  margin-top: 1em;
  font-size: 1.3em;
}

.data_container input {
  background-color: gray;
  border: 1px solid black;
  cursor: default;
}

.data_container input[type="text"] {
  display: block;
  padding: 1em;
  border-radius: 10px;
  width: 100%;
}

.article_main_ct {
  background-color: gray;
  border: 1px solid black;
}

.article_header {
  text-align: center;
}

#option_ct {
  width: 403px;
  height: 91%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  background-color: gray;
  border: none;
}

option {
  padding: 0 1% 0.5em 1%;
  overflow: hidden;
}

#phone_num {
  padding: 1em;
  border-radius: 10px;
  width: 100%;
}

#payment {
  width: 100%;
  background-color: gray;
  border: 1px solid black;
  border-radius: none;
}

.data_container input[type="submit"],
[type="reset"] {
  width: 48%;
  margin: 1% 0;
  padding: 0.5em 0;
  border-radius: 10px;
}

.data_amount {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1% 0px;
}

.button_ct {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.more_article {
  background-color: gray;
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 10px;
}

.more_article a {
  color: black;
  text-decoration: none;
}

/* Impressum */

.impressum_ct {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 80%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
.impressum {
  color: black;
  font-size: 1.5em;
}
